{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="login-box" >
  <div class="login-logo">
    <div style="text-align:center;">
      <img src="{% static 'img/logo-crypto.png' %}" width="50%" />
    </div>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    {% include 'partials/_alerts.html' %}
    <form action="{% url 'login' %}" method="POST" class="form-element">
        {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="email" name = 'email' class="form-control" placeholder="Username">
        <span class="ion ion-email form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name = 'password' class="form-control" placeholder="Password">
        <span class="ion ion-locked form-control-feedback"></span>
      </div>
        <!-- /.col -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN IN</button>
        </div>
        <!-- /.col -->
    </form>
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}